<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gps.server.mapper.GpsDataMapper" >
  <resultMap id="BaseResultMap" type="gps.server.domain.GpsData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gpsdata" property="gpsdata" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gpsdata, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gpsdata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gpsdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gps.server.domain.GpsData" >
    insert into gpsdata (id, gpsdata, ts
      )
    values (#{id,jdbcType=INTEGER}, #{gpsdata,jdbcType=VARCHAR}, #{ts,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="gps.server.domain.GpsData" >
    insert into gpsdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gpsdata != null" >
        gpsdata,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gpsdata != null" >
        #{gpsdata,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gps.server.domain.GpsData" >
    update gpsdata
    <set >
      <if test="gpsdata != null" >
        gpsdata = #{gpsdata,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gps.server.domain.GpsData" >
    update gpsdata
    set gpsdata = #{gpsdata,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gpsdata
    order by id DESC
    limit 10
  </select>
</mapper>